page-edit {
    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg') !important;
        background-size: cover !important;
        animation: 1s ease fadeIn;
    }

    .item-ios ,.item-md{
        background: rgba($color-grey-light , .1);
        border-radius: 10rem;
        color: white;
        &:not(:first-child){
            margin-top: 1rem;
        }
        &:last-child{
            margin-bottom: 1rem;
        }
        &:focus{
            animation: pulseate 1s ease infinite;
        }
    }

    .contentflex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        &__iconcontainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__icon{
              width: 15rem;
              margin: 0 auto;
              display: block;
              margin-top: 1rem;
              margin-bottom: 1rem;
            }
            &__heading{
              color: white;
              text-align: center;
              &--headingtext{
                text-transform: uppercase;
                
                font-size: 3rem;
                font-weight: 300;
              }
            }
        }

        &__formcontent{
            width: 80%;
        }

        &__buttoncontent{
            width: 80%;
            &--button{
                background: linear-gradient(rgba($color-primary-dark, .5), rgba($color-primary-light, .8));
                border-radius: 10rem;
                color: $color-grey-light;
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: .3rem;
                font-weight: 400;
                animation: infinite 1s pulseate;
                &[disabled]{
                    animation: none;
                }
            }

            &--button1{
                background: linear-gradient(rgba($color-primary-dark, .5), rgba($color-primary-light, .8));
                border-radius: 10rem;
                -webkit-background-clip: text;
                display: inline-block;
                color: transparent;
            }
            &--button2{
                background: linear-gradient(rgba($color-primary-dark, .5), rgba($color-primary-light, .8));
                -webkit-background-clip: text;
                display: inline-block;
                color: transparent;
            }
        }
    }

    .item-input-has-focus{
        animation: pulseate 1s ease infinite, .3s ease grow;
    }

    .upload-btn-wrapper {
        margin-top: 1rem;
        position: relative;
        overflow: hidden;
        display: inline-block;

        input[type=file] {
            font-size: 2rem;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .btn {
            background: linear-gradient(rgba($color-primary-light, .5), rgba($color-primary-dark, .8));
            border-radius: 10rem;
            color: $color-grey-light;
            padding: 1rem 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

}
