
<ion-header>

</ion-header>

<ion-content>
    <div class="hero">
        <div class="hero__herobanner">
            <div class="hero__herobanner__heroimagecontainer">
                <img [src]="pic" alt="" class="hero__herobanner__heroimagecontainer--image">
            </div>
            <div class="hero__herobanner__herotagcontainer">
                <div class="hero__herobanner__herotagcontainer__headingcontainer">
                    <h1 class="hero__herobanner__herotagcontainer__headingcontainer--heading">{{fullname}}</h1>
                </div>
                <div class="hero__herobanner__herotagcontainer__tagcontainer">
                    <ion-badge outline class="hero__herobanner__herotagcontainer--tag">Kwaito</ion-badge>
                    <ion-badge class="hero__herobanner__herotagcontainer--tag">Rap</ion-badge>
                    <ion-badge class="hero__herobanner__herotagcontainer--tag">House</ion-badge>
                </div>
            </div>
            <div class="hero__herobanner__herobuttoncontainer">
                <button ion-button block small round class="hero__herobanner__herobuttoncontainer--button">
                    <ion-icon name="ios-more" (click)="edit()"></ion-icon>
                </button>
            </div>
        </div>
    </div>
 
    <ion-list>
      <h2 align="center">   {{massage}} </h2>
        <!-- <ion-item>
            <ion-thumbnail item-start>
                <img src="../../assets/imgs/dj2.jpg" alt="">
            </ion-thumbnail>
            
                <h1>Dj Ntonton</h1>
                <h3>Intwenjani</h3>
                <p>dope track here...</p>
            
        </ion-item> -->
        <ion-item no-lines *ngFor="let x of trackarray" >
            <ion-thumbnail item-start>
                <img src="../../assets/imgs/dj2.jpg">
            </ion-thumbnail>
            <h2>{{fullname}}</h2>
            <h3>{{x.url}}</h3>
            <p>dope track here...</p>
        </ion-item>
   
   
    </ion-list>
</ion-content>
<div class="musicplayer">
    <div class="musicplayer__songtitle">
        <p class="musicplayer__songtitle__scrollingtext">Master_Cheng_Fu
            <br> Umcimbi_ft_Lelo_Kamau</p>
    </div>
    <div class="audioplayer">
        <audio controls>
            <source src="../../assets/Master_Cheng_Fu_-_Umcimbi_ft_Lelo_Kamau.mp3" type="audio/mpeg">
        </audio>
    </div>
</div>
<!--trcks display 
            <ion-item class="track" *ngFor="let x of trackarray">
            <ion-thumbnail item-start>
                <img src="../../assets/imgs/dj.jpg">
            </ion-thumbnail>

            <div item-end>
                <audio *ngIf="file !== null" controls class="audiox">
                    <source src="{{x.url}}" type="audio/mpeg">
                </audio>
            </div>
        </ion-item> -->
