page-user-profile {

    .bigWrapper{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg');
        background-size: cover;
        color: white !important;
        margin: 0 !important;
        padding: 0 !important;
        animation: 1s ease fadeIn;
       &__wrapper{

       
        &__profile{
            background: url('../../assets/imgs/7.jpg');
            height: 10rem;
            text-align: center;
            margin-left: -1.6rem;
            margin-right: -1.6rem;
            margin-top: -4.5rem;
                &--username{
                    margin-left: 8rem;
                    margin-top: 4rem;
                    position: relative;
                    top: 50%;
                    &__name{
                        margin-top: 5rem;
                    }            
                }

            &__proPic{
                
                    .img{
                        margin-left: -22rem;
                        height: 25%;
                        width: 25%;
                        border-radius: 100%;
                }
           }
              
              .camera{
                  margin-top: -8px;
                  margin-left: -1rem;
                  background: black;
              }
          }
    }

}  

}
