page-categories {
    ion-content{
        background: linear-gradient(rgba($color-dark, .9), rgba($color-dark, .8)),url('../../assets/imgs/7.jpg') !important;
        background-size: cover !important;
        animation: 1s ease fadeIn;
    }
    .iconblock{
        width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-top: .5rem;
        &__iconcontainer{
            flex: 0 0 auto;
            &:not(:last-child){
                margin-right: 1rem;
            }
            &:first-child{
                margin-left: 1rem;
            }
            &__icon{
                &--image{
                    width: 6rem;
                    height: 6rem;
                    display: block;
                    margin: 0 auto;
                    border-radius: 50%;
                }
                &--text{
                    color: $color-primary-light;
                    text-align: center;
                    padding: 0; 
                    margin: 0;
                    text-transform: capitalize;

                }
                &:nth-child(even){
                    background: linear-gradient(rgba($color-primary-dark, .9), rgba($color-primary-dark, .9))
                }
            }
        }
    }

    .card-heading{
        color: $color-primary-light;
    }

    ion-item{
        &:nth-child(even){
            background: rgba($color-grey-light, .1) !important;    
        }
        background: transparent !important;
    }

    .list{
        overflow: scroll !important;
        height: 74vh;
    }
    
    .fab-md-light{
        height: 5rem;
        width: 5rem;
    }

    .navbar{
        height: 10vh;
        display: flex;
        align-items: center;
        button{
            border: none;
            font-size: 3rem;
            margin-left: 1rem;
        }
        
        .input-wrapper{
            background: rgba($color-grey-light, .1);
            border-radius: 10rem;
            color: $color-grey-light;
            font-size: 1.5rem;
            padding-left: 2.5rem;
            margin-top: 1rem;
            ion-input{
                font-size: 2rem;
            }
        }
    }
}
