

<ion-content>
  <div class="navbar">
      
    <!-- <ion-item no-lines class="navbarinput">
      <ion-label color="light">
        <ion-icon name="search"></ion-icon>
      </ion-label> 
       
      <ion-input type="text" (ionInput)="getItems($event)"  class="navbar--input" placeholder="Search" name="search" id="input" ngModel required></ion-input> 
     
    </ion-item> -->
    <ion-searchbar (ionInput)="getItems($event)" class="navbar--input"  (ionCancel)="onCancel($event)"></ion-searchbar>
   
  </div>
  <div class="iconblock">
    <div class="iconblock__iconcontainer" *ngFor="let category of categoriesArr">
      <div class="iconblock__iconcontainer__icon">
        <img src="{{category.picture}}" alt="" class="iconblock__iconcontainer__icon--image">
        <p class="iconblock__iconcontainer__icon--text">{{category.genre| slice:0:10}}</p>
      </div>
    </div>
  </div>
  
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon ios="ios-menu" md="md-menu"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab  (click)="page()">  <ion-icon ios="ios-contact" md="md-contact"></ion-icon></button>
      <button ion-fab  (click)="signout()">  <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <div class="list">

     
 <ion-list no-lines>
  
     <ion-item *ngFor="let x of  arrDj;let i = index" (click)="view(i)">
        <ion-thumbnail item-start>
          <img src='{{x.url}}'>
        </ion-thumbnail>
        <h2 class='card-heading' >{{x.stagename}}</h2>
        <p>{{x.genre}}<i class="fas fa-star"></i>

        </p>
        <button ion-button clear item-end>View</button>
      </ion-item>
    
    </ion-list> 
  
  </div>
</ion-content>